body {
    font-size: 2rem;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    text-align: center;
}

h1 { 
    justify-self: center;
    font-size: 7.5rem;
    color: yellow;
    text-shadow: 5px 5px 3px rgba(0,0,0,1);
}

h2 {
    font-size: 5rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    color: yellow;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
p {
    margin: 0;
}

header {
    // Background is from unsplash.com made by Brooke Lark
    background: url(../assets/headerBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: grid;
}

header h1,
header .headerButton {
    align-self: end;
}

header .headerButton {
    margin-bottom: 100px;
    justify-self: center;
}

header .headerButton button {
    background: transparent;
    border: transparent;
    font-size: 4rem;
    color: yellow;
    text-shadow: 5px 5px 3px rgba(0,0,0,1);
}

header .headerButton button:hover,
header .headerButton button:focus {
    scale: 1.5;
    transition: all 0.3s;
}

// Footer

footer {
    background: #a2d416;
    padding: 5px;
    text-align: center;
}