body {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1 { 
    justify-self: center;
    font-size: 9rem;
    opacity: .85;
}

h2 {
    font-size: 5rem;
    font-weight: 400;
}

h3 {
    font-size: 3.5rem;
    padding: 20px 0;
    color: #ffffff;
}

h1,
h2,
h3,
p {
    margin: 0;
}

header {
    // Background is from unsplash.com made by Brooke Lark
    background: url(../assets/headerBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10%;
}

h1,
header button {
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 3px rgb(255, 255, 255);
}

header .headerButton button {
    background: transparent;
    border: transparent;
    font-size: 5rem;
    animation-name: btnJumpy;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    :hover {
        transform: scale(1.5);
    }
}

@keyframes btnJumpy {
    25%  {transform: scale(1.25);}
    50% {transform: scale(1);}
    75% {transform: scale(1.25);}
    100% {transform: scale(1);}
}

::placeholder {
    opacity: 1;
}

// Footer
footer {
    background: #000;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

footer > * {
    padding: 5px 10px;
    transition: all 0.3s;
}

footer .github {
    color: rgb(255, 255, 255);
}

footer .linkedin {
    color: #0e76a8
}

footer .github:hover,
footer .github:focus,
footer .linkedin:hover,
footer .linkedin:focus {
    transform: scale(1.2);
}


// Error window
.errorWindowBack {
    position: fixed;
    background-color: rgb(245, 240, 240);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

    .popUpError {
        position: fixed;
        opacity: 1;
        top: 30%;
        left: calc(100%/2 - 400px/2);
        width: 50vw;
        max-width: 400px;
        text-align: center;

        p {
            color: #000000;
            margin: 40px 0;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        button {
            width: 150px;
            height: 50px;
        }
    }
}
