//// Main ///////
.howToUse {
    // Background is from unsplash.com made by Brooke Lark
    background: url(../assets/sectionOneBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.howToUse .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.howToUse .wrapper > * {
    margin-bottom: 30px;
    align-self: flex-end;
    max-width: 60%;
    text-align: left;
}

// SECTION TWO ///////////////////////////////////////////////////////

.letsCook {
    // Background is from unsplash.com made by Jakub Kapusnak
    background: url(../assets/tableBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.letsCook h3 {
    -webkit-text-stroke: 0.7px black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.letsCook .wrapper {
    display: flex;
    flex-wrap: wrap;

}

// ITEMS
.cooked {
    flex: 1 0 100%;
}

.items {
    flex: 1 0 100px;
}

.items,
.cooked,
.table {
    padding: 15px 0;
}

// TABLE
.letsCook .table {
    order: 0;
    flex: 1 0 200px;
}

.letsCook .table .done {
    text-align: center;
    background: darkorange;
    width: 250px;
    margin: 0 auto;
}

// COOKED
.letsCook .cookedMeals {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    align-content: flex-start;
    grid-gap: 20px;
}

.letsCook .cookedMeals li,
ul.ingridients li {
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: #000 5px 5px;
    text-align: center;
    background:  rgba(230, 213, 213, 0.9);
    padding: 5px;
}

ul.ingridients,
ul.cookedMeals {
    height: 425px;
    overflow: auto;
}

ul.chosenIngridients {
    height: 200px;
    overflow: auto;
}


ul.ingridients,
ul.chosenIngridients {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 200px);
    justify-content: center;
    grid-gap: 20px;
    text-align: center;
}


ul li div {
    text-align: center;
}

.ingridients button {
    margin: 0 auto;
}


button {
    border: 2px solid transparent;
    background: black;
    color: white;
    transition: all 0.5s;
}

button:hover,
button:focus {
    border: 2px solid black;
    color: black;
    background: none;
}

.closeWindow {
    font-size: 2.5rem;
    color: #000;
    background: transparent;
    transition: all 0.5s;
}
.closeWindow:hover,
.closeWindow:focus {
    transform: rotate(360deg);
    color: red;
    border: 2px solid transparent;
}



//FORMS /////////////////////////////////
.addNewStuff {
    background: olivedrab;

    button:hover,
    button:focus {
        background: white;
    }
}

.addNewStuff h3 {
    color: #000;
}

fieldset {
    border: 0;
    padding: 0;
}

.addNewStuffRecipe {
    display: flex;
    flex-wrap: wrap;
}

form,
.moreIngridients {
    flex: 1 0 100%;
}

form,
form h3 {
    padding: 40px 0;
}

.addNewStuffRecipe fieldset input, 
.addNewStuffRecipe fieldset button {
    padding: 15px;
}

.newIngr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
}

input[type="text"],
input[type="number"] {
    border: black 2px solid;
    transition: all 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus {
    border: transparent 2px solid;
    border-bottom: black 2px solid;
}

.moreIngridients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 25px;
    grid-column: 1 / -1;
}

.newMeal label {
    margin: 0 10px 30px;
}

.newMeal input[type="text"],
.newMeal label {
    flex: 1 0 200px;
}

.newMeal input[type="number"] {
    flex: 1 0 200px;
}

.newMeal > * {
    margin-bottom: 30px;
    text-align: center;
}

.newMeal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}