html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 2rem;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 7.5rem;
  color: yellow;
  text-shadow: 5px 5px 3px black;
}

h2 {
  font-size: 5rem;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  color: yellow;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
p {
  margin: 0;
}

header {
  background: url(../assets/headerBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

header h1,
header .headerButton {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

header .headerButton {
  margin-bottom: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .headerButton button {
  background: transparent;
  border: transparent;
  font-size: 4rem;
  color: yellow;
  text-shadow: 5px 5px 3px black;
}

header .headerButton button:hover,
header .headerButton button:focus {
  scale: 1.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer {
  background: #a2d416;
  padding: 5px;
  text-align: center;
}

.sectionOne {
  background: url(../assets/sectionOneBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sectionOne .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionOne .wrapper > * {
  margin-bottom: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 400px;
}

.sectionTwo {
  background: url(../assets/tableBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sectionTwo .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  -ms-grid-rows: 450px 1fr;
      grid-template-rows: 450px 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 125px 25px;
}

.sectionTwo .items {
  height: 450px;
  overflow: auto;
}

.sectionTwo .table {
  height: 450px;
  overflow: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.sectionTwo .table .done {
  text-align: center;
  background: darkorange;
}

.sectionTwo .cooked {
  height: 450px;
  overflow: auto;
}

.sectionTwo .cookedMeals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
}

.sectionTwo .cookedMeals li,
ul.ingridients li {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-shadow: darkcyan 5px 5px;
          box-shadow: darkcyan 5px 5px;
  text-align: center;
  background: rgba(202, 214, 195, 0.5);
  padding: 5px;
}

ul.ingridients,
ul.chosenIngridients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
}

ul li div {
  text-align: center;
}

.ingridients button {
  margin: 0 auto;
}

button {
  border: 2px solid transparent;
  background: #a2d416;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button:hover,
button:focus {
  border: 2px solid #a2d416;
  background: none;
}

fieldset {
  border: 0;
}

.addNewRecipe {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addNewRecipe h3,
form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.addNewRecipe fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addNewRecipe fieldset input,
.addNewRecipe fieldset button {
  margin-top: 20px;
  padding: 15px;
}

.newIngr input,
.newIngr button,
.newMeal .one input[type="text"],
.newMeal .one button,
.newMeal .two input[type="number"],
.newMeal .two .moreIngridients,
.newMeal .two .name {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

.moreIngridients {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.moreIngridients input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.two label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  text-align: center;
}

.newMeal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
